/* Import Tailwind CSS base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for light theme colors */
:root {
  --background: #ffffff; /* Light background color */
  --foreground: #171717; /* Dark text color */
}

/* Apply dark theme colors if user's preference is dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background color */
    --foreground: #ededed; /* Light text color */
  }
}

/* Set global body styles using CSS variables */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Create a utility class for text balancing */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Map Stuff */
.map-container {
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
}

/* Rankings Page Styling */
.rankings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.rectangle {
  width: 375px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #000101;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.star {
  color: gray; /* not filled in */
  font-size: 24px; 
  margin-left: 5px; 
}

.star.filled {
  color: gold; 
}

.locate-button {
  margin-left: 20px; 
    padding: 8px 12px; 
    background-color: #fbfffc; 
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.mapboxgl-map {
  height: 100%;
  width: 100%;
}
