/* Import Tailwind CSS base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for light theme colors */
:root {
  --background: #ffffff; /* Light background color */
  --foreground: #171717; /* Dark text color */
}

/* Apply dark theme colors if user's preference is dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background color */
    --foreground: #ededed; /* Light text color */
  }
}

/* Set global body styles using CSS variables */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Create a utility class for text balancing */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Style for header section */
.header {
  display: flex; 
  align-items: center; 
  padding: 8px 20px; 
  background-color: #575757; 
  width: 100%; 
}

/* Style for left button in header */
.header-left-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto; 
}

/* Style for center button in header */
.header-center-button {
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 0; 
  text-align: center; 
}

/* Style for right button in header */
.header-right-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto; 
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #575757;
  color: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  width: 250px;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

/* List styles inside sidebar */
.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar-button{
  background-color: none;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.125rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #3e3e3e;
}

.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-display {
  position: relative;
  background-color: #575757;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.close-login-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-picture {
  margin-bottom: 1rem;
}

.login-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-textbox {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0);
}

.login-button {
  margin-top: 1rem;
  background-color: #212121;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #3e3e3e;
}