/* Import Tailwind CSS base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for light theme colors */
:root {
  --background: #ffffff; /* Light background color */
  --foreground: #171717; /* Dark text color */
}

/* Apply dark theme colors if user's preference is dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background color */
    --foreground: #ededed; /* Light text color */
  }
}

/* Set global body styles using CSS variables */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Create a utility class for text balancing */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Style for header section */
.header {
  background: linear-gradient(to bottom, #575757, #000000);
  display: flex; 
  align-items: center; 
  padding: 10px 20px; 
  width: 100%; 
}

/* Style for left button in header */
.header-left-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto; 
}

/* Style for center button in header */
.header-center-button {
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 0; 
  text-align: center; 
}

/* Style for right button in header */
.header-right-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-username {
  text-align: right;
  margin-right: 5px;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #575757 25%, #57575700 80%);;
  color: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  width: 250px;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

/* List styles inside sidebar */
.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar-button{
  background-color: #5e5e5e;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.125rem;
  border-radius: 5px;
  cursor: pointer;
  width: 65%;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #3e3e3e;
}

/* Map Stuff */
.map-container {
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
}

/* Rankings Page Styling */
.rankings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.rectangle {
  width: 375px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #000101;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.star {
  color: gray; /* not filled in */
  font-size: 24px; 
  margin-left: 5px; 
}

.star.filled {
  color: gold; 
}

.locate-button {
  margin-left: 20px; 
    padding: 8px 12px; 
    background-color: #fbfffc; 
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.mapboxgl-map {
  height: 100%;
  width: 100%;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-display {
  background: radial-gradient(circle, #575757, #000000);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.close-login-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
}

.login-content {
  text-align: center;
}

.login-picture {
  display: block;
  margin: 0 auto 15px auto;
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.login-textbox {
  width: 100%; 
  padding: 10px;
  border: 2px solid #1f1f1f; 
  border-radius: 4px;
  color:#7a7a7a;
  margin-bottom: 5px;
  padding-right: 40px;
}

.login-textbox:focus {
  color: black;
}

.toggle-password-button {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.login-button {
  background-color: #4c4c4c; 
  color: white;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
  padding: 10px 20px; 
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.login-button:hover {
  background-color: #3e3e3e;
}

.signup-button, .forgot-password-button {
  background-color: transparent; 
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.signup-button:hover, .forgot-password-button:hover {
  color:#1f8bff;
  text-decoration: underline;
}

.error-message {
  color: red; 
  margin-top: 10px;
}