.main-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5px;
    width: 100vw;
    height: 88vh;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border: 3px solid black;
    background-color: rgb(62, 62, 62);
    padding: 15px;
    border-radius: 10px;
}

.settings-button {
    background-color: rgb(40, 40, 40);
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 20px;
}

.settings-button-active {
    background-color: rgb(87, 87, 87);
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 20px;
}

.settings-button:hover {
    background-color: rgb(87, 87, 87);
}

.settings-functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    margin-top: 5px;
}

.preference-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(62, 62, 62);
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px;
    flex-grow: 1;
    width: auto;
}

.user-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(62, 62, 62);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    flex-grow: 1;
    width: auto;
}

.user-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    width: fit-content;
}

.upload-button:hover {
    background-color: rgb(34, 34, 34);
}

.user-info {
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 5px 0;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    max-width: 50%;
    min-width: fit-content;
    flex-grow: 0;
}

.user-label {
    margin: 30px 0 2px 0;
    color: white;
    font-weight: bold;
}

.update-textbox {
    margin: 5px;
    color: rgb(83, 83, 83);
}

.update-textbox:focus {
    color: black;
}

.logout-button {
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 20px;
    width: fit-content;
}

.logout-button:hover {
    background-color: rgb(139, 0, 0);
    color: rgb(46, 249, 0);
}

.account-deletion-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.deletion-button {
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

.deletion-button:hover {
    background-color: rgb(139, 0, 0);
    color: rgb(46, 249, 0);
}

.user-error {
    text-align: center;
    justify-content: center;
    color: red;
    font-size: 24px;
}

.error-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
    width: 98vw;
    position: fixed;
}

.error-message {
    color: red;
    font-size: 20px;
}

.err-home-btn {
    width: fit-content;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

.err-home-btn:hover {
    background-color: rgb(139, 0, 0);
    color: rgb(46, 249, 0);
}

.toggle-update-button {
    color: rgb(0, 162, 255);
}

.toggle-update-button:hover {
    text-decoration: underline;
}