

.favorite-button {
    background-color: #3c434e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
  }
  
  .favorite-button:hover {
    background-color: #ff3b4a;
  }

  .favorite-button.favorited {
    background-color: #ff3b4a;
  } 
  